body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the content horizontally */
}

.main-container {
    flex: 1 1 300px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
}

.data-container {
    display: flex;
    margin-top: 10px;
}

.data-container img {
    max-width: 100%;
    height: auto;
}

.data-container h1 {
    font-size: 24px;
    margin: 0;
}

.data-container p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.image-container {
    flex: 1 1 300px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}


     /* For responsiveness on smaller screens */
     @media screen and (max-width: 600px) {
        .data-container,
        .image-container {
            flex: 100%;
        }
    }